@model Cryptofolio.Models.Portfolio
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Delete " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h3>Delete @Html.DisplayFor(model => model.Name)?</h3>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <p class="card-text">
                                    Created by
                                    <h4>@Html.DisplayFor(model => model.OwnerID)</h4>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="card-text">
                                    Rating
                                    <h4>@Html.DisplayFor(model => model.Rating)</h4>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="card-text">
                                    Created on
                                    <h4>@Html.DisplayFor(model => model.Creation_Date)</h4>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ID" />
                    <a asp-action="Index" class="card-link">Back to portfolio list</a>
                    @if ((@UserManager.GetUserName(User) == Model.OwnerID) || (User.IsInRole("Admin")))
                    {
                        <input type="submit" value="Yes, delete @Model.Name" class="btn btn-sm btn-danger card-link" />
                    }
                </form>
            </div>
        </div>
    </div>
</div>
