@model Cryptofolio.Models.Portfolio
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var assets = ViewData["assets"] as List<Asset>;
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h3>@Html.DisplayFor(model => model.Name)</h3>
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-4">
                        <p class="card-text">
                            Created by
                            <h4>@Html.DisplayFor(model => model.OwnerID)</h4>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Rating
                            <h4>@Html.DisplayFor(model => model.Rating)</h4>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Created on
                            <h4>@Html.DisplayFor(model => model.Creation_Date)</h4>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Total Value (BTC)
                            <h4>@Html.DisplayFor(model => model.BTC_Value)</h4>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Total Value (USD)
                            <h4>@Html.DisplayFor(model => model.USD_Value)</h4>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Percent Change
                            @if (Model.Percent_Change > 0)
                            {
                                <h4 class="text-success">
                                    +@Model.Percent_Change%
                                </h4>
                            }
                            else
                            {
                                <h4 class="text-danger">
                                    @Model.Percent_Change%
                                </h4>
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <h4>Holdings</h4>
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var item in Model.Holdings)
                {
                    Asset assetContext = new Asset();
                    @foreach (var asset in assets)
                    {
                        if (@item.AssetType == asset.Code)
                        {
                            assetContext = asset;
                        }
                    }

                    
                    var overall = (assetContext.CurrentPrice - item.PurchasePrice) / item.PurchasePrice * 100;
                    var dailychange = 0.00;

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                Asset Type
                                <h5>@item.AssetType</h5>
                            </div>
                            <div class="col-md-3">
                                Amount
                                <h5>@item.Amount</h5>
                            </div>
                            <div class="col-md-3">
                                Current Price
                                <h5>$@assetContext.CurrentPrice.ToString("0.00")</h5>
                            </div>
                            <div class="col-md-3">
                                Purchase Price
                                <h5>$@item.PurchasePrice.ToString("0.00")</h5>
                            </div>
                            <div class="col-md-3">
                                24 Hour Change
                                @if (dailychange > 0)
                                {
                                    <h5 class="text-success">+@dailychange.ToString("0.00")%</h5>
                                }
                                else
                                {
                                    <h5 class="text-danger">@dailychange.ToString("0.00")%</h5>
                                }
                            </div>
                            <div class="col-md-3">
                                Overall Change
                                @if (overall > 0)
                                {
                                    <h5 class="text-success">+@overall.ToString("0.00")%</h5>
                                }
                                else
                                {
                                    <h5 class="text-danger">@overall.ToString("0.00")%</h5>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <div class="card-body">
                @if ((@UserManager.GetUserName(User) == Model.OwnerID) || (User.IsInRole("Admin")))
                {
                    <a asp-action="Index" class="card-link">Back to portfolio list</a>
                    <a asp-action="Edit" asp-route-id="@Model.ID" class="card-link">Make changes</a>
                    <a asp-action="Delete" asp-route-id="@Model.ID" class="card-link">Delete this portfolio</a>
                }
                else
                {
                    <a asp-action="Portfolios" class="card-link">Back to portfolio list</a>
                }
            </div>
        </div>
        </div>
    </div>