@model Cryptofolio.Models.Portfolio
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Portfolio: " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var prices = ViewData["prices"] as List<MarketPrice>;
    var dayOldPrices = ViewData["dayoldprices"] as List<MarketPrice>;
    var dailyChange = (Double)ViewData["dailychange"];
    var percentChange = (Double)ViewData["percentchange"];
    var totalPurchased = (Double)ViewData["totalpurchased"];
    var totalChange = (Double)ViewData["totalchange"];
    var totalUSD = (Double)ViewData["totalusd"];
    var totalBTC = (Double)ViewData["totalbtc"];
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h3>@Html.DisplayFor(model => model.Name)</h3>
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-4">
                        <p class="card-text">
                            Created by
                            <h4>@Html.DisplayFor(model => model.OwnerID)</h4>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Rating
                            <span class="specialbadge">
                                @if (Model.Rating > 0 && Model.Rating < 25)
                                {
                                    <span class="badge badge-sm badge-danger">@Model.Rating</span>
                                }
                                else if (Model.Rating >= 25 && Model.Rating < 50)
                                {
                                    <span class="badge badge-sm badge-warning">@Model.Rating</span>
                                }
                                else if (Model.Rating == 50)
                                {
                                    <span class="badge badge-sm badge-secondary">@Model.Rating</span>
                                }
                                else if (Model.Rating > 50 && Model.Rating <= 75)
                                {
                                    <span class="badge badge-sm badge-info">@Model.Rating</span>
                                }
                                else if (Model.Rating > 75 && Model.Rating <= 100)
                                {
                                    <span class="badge badge-sm badge-success">@Model.Rating</span>

                                }
                                else
                                {
                                    <span class="badge badge-sm badge-primary">Magic</span>
                                }
                            </span>
                            <br />
                            @if ((!(@UserManager.GetUserName(User) == Model.OwnerID)) || ((User.IsInRole("Admin"))))
                            {
                                <a asp-action="Up" asp-route-id="@Model.ID" class="badge badge-sm badge-success"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                <a asp-action="Up" asp-route-id="@Model.ID" class="badge badge-sm badge-danger"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                            }
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Created on
                            <h4>@Html.DisplayFor(model => model.Creation_Date)</h4>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Total Value (BTC)
                            <h4>@totalBTC.ToString("0.00000") BTC</h4>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Total Value (USD)
                            <h4>$@totalUSD.ToString("0.00")</h4>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Total Purchase Price
                            <h4>
                                $@totalPurchased.ToString("0.00") USD
                            </h4>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Overall Change (%)
                            @if (percentChange > 0)
                            {
                                <h4 class="text-success">
                                    +@percentChange.ToString("0.00")%
                                </h4>
                            }
                            else
                            {
                                <h4 class="text-danger">
                                    @percentChange.ToString("0.00")%
                                </h4>
                            }
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            Overall Change (USD)
                            @if (totalChange > 0)
                            {
                                <h4 class="text-success">
                                    @totalChange.ToString("0.00") USD
                                </h4>
                            }
                            else
                            {
                                <h4 class="text-danger">
                                    @totalChange.ToString("0.00") USD
                                </h4>
                            }
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">
                            24 Hour Change (%)
                            @if (dailyChange > 0)
                            {
                                <h4 class="text-success">
                                    +@dailyChange.ToString("0.00")%
                                </h4>
                            }
                            else
                            {
                                <h4 class="text-danger">
                                    -@dailyChange.ToString("0.00")%
                                </h4>
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <h4>Holdings</h4>
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.Holdings.Count > 0)
                {
                    <div id="holdings-table">
                        <table id="holdings" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Asset Type</th>
                                    <th>24 Hour Change</th>
                                    <th>Amount</th>
                                    <th>Current Price</th>
                                    <th>Purchase Price</th>
                                    <th>Overall Change</th>
                                    @if ((@UserManager.GetUserName(User) == Model.OwnerID) || (User.IsInRole("Admin")))
                                    {
                                        <th>Options</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Holdings)
                                {
                                    var dailychange = 0.00;
                                    MarketPrice priceContext = new MarketPrice();

                                    @foreach (var p in prices)
                                    {
                                        if (@item.AssetType == p.MarketCurrency)
                                        {
                                            priceContext = p;
                                        }
                                    }

                                    @foreach (var d in dayOldPrices)
                                    {
                                        if (priceContext.MarketCurrency == d.MarketCurrency)
                                        {
                                            dailychange = (priceContext.CurrentPrice - d.CurrentPrice) / priceContext.CurrentPrice * 100;
                                        }
                                    }

                                    var overall = (priceContext.CurrentPrice - item.PurchasePrice) / item.PurchasePrice * 100;

                                    <tr>
                                        <td>@item.AssetType</td>
                                        <td>
                                            @if (dailychange > 0)
                                            {
                                                <span class="text-success">+@dailychange.ToString("0.00")%</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">@dailychange.ToString("0.00")%</span>
                                            }
                                        </td>
                                        <td>@item.Amount</td>
                                        <td>$@priceContext.CurrentPrice.ToString("0.00")</td>
                                        <td>$@item.PurchasePrice.ToString("0.00")</td>
                                        <td>
                                            @if (overall > 0)
                                            {
                                                <span class="text-success">+@overall.ToString("0.00")%</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">@overall.ToString("0.00")%</span>
                                            }
                                        </td>

                                        @if ((@UserManager.GetUserName(User) == Model.OwnerID) || (User.IsInRole("Admin")))
                                        {
                                            <td class="text-center">
                                                <a asp-action="EditHolding" asp-route-id="@item.ID" class="btn btn-sm btn-primary card-link holding-btn">Edit</a>
                                                <a asp-action="DeleteHolding" asp-route-id="@item.ID" class="btn btn-sm btn-danger card-link holding-btn">Delete</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                }
                else
                {
                    <li class="list-group-item">
                        <div class="text-center spaced-out">
                            This portfolio doesn't have any holdings yet
                            @if ((@UserManager.GetUserName(User) == Model.OwnerID) || (User.IsInRole("Admin")))
                            {
                                <span>, </span><a asp-action="AddHolding" class="card-link" asp-route-id="@Model.ID">click here</a><span> to add one</span>
                            }
                        </div>
                    </li>
                }
                @if ((@UserManager.GetUserName(User) == Model.OwnerID) || (User.IsInRole("Admin")))
                {

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">

                                <a asp-action="AddHolding" class="card-link" asp-route-id="@Model.ID">Add an asset holding</a>

                            </div>
                        </div>
                    </li>
                }
            </ul>
            <div class="card-body">
                @if ((@UserManager.GetUserName(User) == Model.OwnerID) || (User.IsInRole("Admin")))
                {
                    <a asp-action="Index" class="card-link">Back to portfolio list</a>
                    <a asp-action="Edit" asp-route-id="@Model.ID" class="card-link">Make changes</a>
                    <a asp-action="Delete" asp-route-id="@Model.ID" class="card-link">Delete this portfolio</a>
                }
                else
                {
                    <a asp-action="Portfolios" class="card-link">Back to portfolio list</a>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#holdings-table').DataTable({
            "paging": true
        });
    });
</script>