@model Cryptofolio.Models.Portfolio
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Edit " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h3>@Html.DisplayFor(model => model.Name)</h3>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">Make this portfolio private?</label><br />
                                    <label>
                                        <input asp-for="Privacy_Status" /> @Html.DisplayNameFor(model => model.Privacy_Status)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a asp-action="Index" class="card-link">Back to portfolio list</a>
                @if ((@UserManager.GetUserName(User) == Model.OwnerID) || (User.IsInRole("Admin")))
                {
                    <a asp-action="Details" asp-route-id="@Model.ID" class="card-link">Back to @Model.Name</a>
                    <a asp-action="AddHolding" class="card-link" asp-route-id="@Model.ID">Add holdings</a>
                    <a asp-action="Delete" asp-route-id="@Model.ID" class="card-link">Delete this portfolio</a>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
