@model IEnumerable<Cryptofolio.Models.Portfolio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Portfolios</h2>


<div class="text-center">
    <a asp-action="Create">Start a new portfolio</a>
</div>
<div class="row">

    @foreach (var item in Model)
    {
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <h6 class="card-subtitle mb-2 text-muted">by @Html.DisplayFor(modelItem => item.OwnerID)</h6>
                <div class="card-text">
                    Rating: @Html.DisplayFor(modelItem => item.Rating)<br />
                    Created on @Html.DisplayFor(modelItem => item.Creation_Date)
                </div>
                <a asp-action="Edit" asp-route-id="@item.ID" class="card-link">Make changes</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="card-link">View portfolio</a>
            </div>
        </div>
    </div>
    }
</div>