@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Cryptofolio";
    var count = (Double)ViewBag.count;
    var total = (Double)ViewBag.total;
    var daychange = (Double)ViewBag.daychange;


}


<div class="text-center"><h1 class="title">Cryptofolio</h1></div>
<div class="card">
    <div class="card-header">
        <div class="row text-center">
            <div class="col-md-4">
                <p class="card-text">
                    Portfolios
                    <h1>@count</h1>
                </p>
            </div>
            <div class="col-md-4">
                <p class="card-text">
                    Total of Portfolios
                    <h1>$@total.ToString("0.00")</h1>
                </p>
            </div>
            <div class="col-md-4">
                <p class="card-text">
                    24 Hour Change
                    @if (@daychange > 0)
                    {
                        <h1 class="text-success">
                            +@daychange.ToString("0.00")%
                        </h1>
                    }
                    else
                    {
                        <h1 class="text-danger">
                            @daychange.ToString("0.00")%
                        </h1>
                    }
            </div>
        </div>
    </div>
    <div class="card-body text-center">
        <div class="row ">
            <div class="col-lg-10 chart-col">
                <div class="card">
                    <div class="card-body">
                        <div id="chart" class="chart-left" style="position:relative;">
                            <canvas id="datachart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <div class="card ">
                            <div class="card-body chart-row">
                                <div class=" text-center chart-col-area chart-col">
                                    <h5>Data Type</h5>
                                    <a id="btnusd" class="btn btn-sm btn-success chart-col-btn" onclick="setDataType(1)" href="#">USD</a>
                                    <a id="btnbtc" class="btn btn-sm btn-secondary chart-col-btn" onclick="setDataType(2)" href="#">BTC</a>
                                    <a id="btnpercent" class="btn btn-sm btn-secondary chart-col-btn" onclick="setDataType(3)" href="#">%</a>
                                </div>
                            </div>
                        </div>
                        <div class="card ">
                            <div class="card-body chart-row">
                                <div class=" text-center chart-col-area chart-col">
                                    <h5>Date Range</h5>
                                    <a id="btn3" class="btn btn-sm btn-success chart-col-btn" onclick="setDateRange(3)" href="#">3D</a>
                                    <a id="btn7" class="btn btn-sm btn-secondary chart-col-btn" onclick="setDateRange(7)" href="#">7D</a>
                                    <a id="btn14" class="btn btn-sm btn-secondary chart-col-btn" onclick="setDateRange(14)" href="#">14D</a>
                                    <a id="btn30" class="btn btn-sm btn-secondary chart-col-btn" onclick="setDateRange(30)" href="#">30D</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <input id="daterange" value="30" hidden />
                        <input id="dataselected" value="1" hidden />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="row text-center">
                <div class="col-md-12">
                    <a class="btn btn-success btn-front" asp-area="" asp-controller="Portfolios" asp-action="Portfolios">View Portfolios</a>
                </div>
            </div>
        }
        else
        {
            <div class="row text-center">
                <div class="col-sm-6">
                    <a class="btn btn-success btn-front" asp-area="" asp-controller="Portfolios" asp-action="Portfolios">View Portfolios</a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-primary btn-front" asp-area="Identity" asp-page="/Account/Login">Login</a><br />
                    <a class="btn" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </div>
            </div>
        }
    </div>


</div>
@section scripts
    {
    <script>
        $(document).ready(function () {
            updateChart(30, 1);
        });
    </script>
}
<script>


    function setDateRange(value) {
        $('#daterange').val(value);
        var dataSelected = $('#dataselected').val();
        updateChart(value, dataSelected);

        if (value == 3) {
            $('#btn3').removeClass("btn-secondary").addClass("btn-success");
            $('#btn7').removeClass("btn-success").addClass("btn-secondary");
            $('#btn14').removeClass("btn-success").addClass("btn-secondary");
            $('#btn30').removeClass("btn-success").addClass("btn-secondary");
        } else if (value == 7) {
            $('#btn3').removeClass("btn-success").addClass("btn-secondary");
            $('#btn7').removeClass("btn-secondary").addClass("btn-success");
            $('#btn14').removeClass("btn-success").addClass("btn-secondary");
            $('#btn30').removeClass("btn-success").addClass("btn-secondary");
        } else if (value == 14) {
            $('#btn3').removeClass("btn-success").addClass("btn-secondary");
            $('#btn7').removeClass("btn-success").addClass("btn-secondary");
            $('#btn14').removeClass("btn-secondary").addClass("btn-success");
            $('#btn30').removeClass("btn-success").addClass("btn-secondary");
        }
        else if (value == 30) {
            $('#btn3').removeClass("btn-success").addClass("btn-secondary");
            $('#btn7').removeClass("btn-success").addClass("btn-secondary");
            $('#btn14').removeClass("btn-success").addClass("btn-secondary");
            $('#btn30').removeClass("btn-secondary").addClass("btn-success");
        }
    }

    function setDataType(value) {
        $('#dataselected').val(value);
        var dateRange = $('#daterange').val();
        updateChart(dateRange, value);

        if (value == 1) {
            $('#btnpercent').removeClass("btn-success").addClass("btn-secondary");
            $('#btnbtc').removeClass("btn-success").addClass("btn-secondary");
            $('#btnusd').removeClass("btn-secondary").addClass("btn-success");
        } else if (value == 2) {
            $('#btnusd').removeClass("btn-success").addClass("btn-secondary");
            $('#btcpercent').removeClass("btn-success").addClass("btn-secondary");
            $('#btnbtc').removeClass("btn-secondary").addClass("btn-success");
        } else if (value == 3) {
            $('#btnusd').removeClass("btn-success").addClass("btn-secondary");
            $('#btnbtc').removeClass("btn-success").addClass("btn-secondary");
            $('#btnpercent').removeClass("btn-secondary").addClass("btn-success");
        }
    }

    function updateChart(dateRangeSelected, dataSelected) {

        if (dataSelected == 1) {
            var dataArray = @Html.Raw(Json.Serialize(ViewBag.chartRatesUSD));
        } else if(dataSelected == 2){
            var dataArray = @Html.Raw(Json.Serialize(ViewBag.chartRatesBTC));
        } else if (dataSelected == 3) {
             var dataArray = @Html.Raw(Json.Serialize(ViewBag.chartRatesPercent));
        }
        var dateArray = @Html.Raw(Json.Serialize(ViewBag.chartDates));
        var data = [];
        var dates = [];
        for (var i = 0; i < dateRangeSelected; i++) {
           data.push(parseFloat(dataArray[i]).toFixed(2));
        }


        for (var i = 0; i < dateRangeSelected; i++) {
           dates.push(dateArray[i]);
        }

        $('#chart').empty();
        $('#chart').html('<canvas id="datachart"></canvas>');

        var ctx = document.getElementById("datachart").getContext('2d');
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Market',
                    data: data,
                    borderColor: [
                        'rgba(255,15,22,1)'
                    ],
                    backgroundColor: [
                        'rgba(255,15,22,0.2)'
                    ],
                    borderWidth: 1
                }]
            },
            responsive: true,

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        });
    }
</script>